@import '../../vars.css';

.container {
  color: var(--color-text);
  margin-top:79px ;
  margin-left: 10%;
  margin-right: 10%;
}

.title{
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.skills{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:37px;
}

.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:11px;
}
.skillImageContainer img{
  height: 75px;
  transition: 0.4s;
}
.skillImageContainer img:hover{
  height: 65px;
}
.skillImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px; 
  transition: 0.4s;
}

.skillImageContainer:hover{
  background-color: var(--color-secondary);
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.8);
  border-radius: 100%;
}

.skill p{
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

@media screen and (max-width:830px) {
  .content{
    flex-direction: column;
    align-items: center;
    gap:34px
  }
  .skills{
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}